<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">On the Rocks</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><a href="#" class="button">Sign In</a></li>
    </ul>
  </div>
</div>
